@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.title {
	text-align: center;
	padding-left: 5px;
	color: white;
	background-color: none;
	position: fixed;
	margin-left: 10px; 
	border: 1px solid #a55700;
	border-radius: 50px;
	padding: 7px;
	width: 10%;
}
.title:hover {
	text-align: center;
	background-color: #a55700;
	transition: 1s;
	width: 15%;
}
nav {
  max-width: 960px;
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  margin: 0 auto;
  padding: 10px 0;
}

nav ul {
  text-align: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 10px;
  font-family: "Open Sans";
  text-transform:uppercase;
  color: #bfbfbf;
  font-size: 18px;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: #a55700;
  color: white;
}


/**
.nav {
	position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    background-color: none;
   
}

.nav h1 {
	font-size: 15px;
	color: #ffc380;
	background-color: none;
	border: 1px solid #a55700;
	padding: 10px 10px;
	margin-left: 10px;
	width: 15%;
}
**/

/**
.nav a {
 	float: left;
    display: block;
    color: #7e6225;
    text-align: right;
    text-decoration: none;
    font-size: 10px;
    background-color: none;
}
.nav ul li {
    display: inline-block;
    border: 1px solid #a55700;
    background-color: none;

}
.nav ul {
	background-color: #ffa239;
    display: block;
    float: left;
    list-style: none;
    line-height: 60px;
    font-weight: 400;
    text-align: center;
    background-color: none;
}
.nav li  {
	width: 60px;
	border: 1px solid;

}
**/
/** T????? 
@media screen and (max-width: 600px) {
  .nav a:not(:first-child) {display: none;}
  .nav a.icon {
    float: right;
    display: block;
  }
}
**/