.container {
    width: 75%;
    margin: auto;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #f5f5f5;
    justify-content: center;
    padding: 30px;
    grid-gap: 20px;
}

.product-container {
    padding: 20px;
    background-color: #f8f8ff;
    border: 2px solid hsl(27, 100%, 82%);
}
.product-container img {
    width: 200px;
    height: auto;
}