/** Button **/
.topsearch {
	margin: 0 auto;
  	padding: 0px;
	position: relative;
	text-align: right;
}
input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 1px solid #4f4f4f;
    border-radius: 4px;
    font-size: 16px;
    color: white;
    background-color: #888888;
    background-image: url('../img/searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
}