@import url('https://fonts.googleapis.com/css?family=Krub');

* {
    box-sizing: border-box;
}
html, body {
    margin: 0 auto;
    padding: 0;
}
nav {
    top: 0;
    position: sticky;
    background-color: transparent;
    z-index: 2;
}
.content {
    background-position: center;
    height: 50vh;
}
.content-overlay {
    height: 50vh;
}
body {
    font-family: 'Krub', sans-serif;
    font-size: 17px;
    text-align: center;
    background-image: url(../../img/ewan.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
}
.purchase-container {
    width: 100%;
    background-color: #ccc;
    clear: both;
    text-align: center;
}
.product-details {
    margin: 15px auto;
    width: 50%;
    padding: 20px;
    background-color: azure;
}
.product-details img {
    width: 300px;
    height: auto;
}

.left {
    float: left;
    width: 55%;
    height: 90vh;
    background-color: #FFC17F;
}
.right {
    float: right;
    width: 45%;
    height: 90vh;
    background-color: #7FB1FF;
    text-align: left;
}
.like {
    margin: 5px;
    width: 55px;
    background-color:#444444;
    text-align: left;
    padding: 15px 20px;
}
.like:hover {
    opacity: 0.8;
    transition: 0.4s;
}
.like a:hover {
    color: #7FB1FF;
}
.fa-thumbs-up {
    text-decoration: none;
    color: #fff;
}
.product-buy {
    padding: 20px;
}
.slice-pick {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}
.slice-pick li {
    margin: 20px;
}

.slice-pick img {
    width: 60px;
    height: 60px;
}
.slice-pick img:hover {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    border: 2px solid #FFC17F;
}
.order {
    display: block;
    text-align: center;
    padding: 10px;
    width: 100%;
    text-decoration: none;
    color: #fff;
    background-color: #FFB760;
}
.purchase-na textarea{
    width: 100%;
    padding: 12px;
    border: none;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
.order:hover {
    background-color: #7FFF60;
    transition: .4s ease-in;
}
@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }