body,html {
    margin: 0 auto;
    padding: 0;
}

body {
    background-image: url('../img/trianglify.svg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #D4DCEC;
    color: #fff;
}
/* HEADER FOR USER LOGIN INFO */
.usergreeting {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
}
.headertop {
    border-radius: 5px;
    padding: 30px;
    background-image: url('../img/userimg.jpg');
    background-position: center;
    background-size: cover;
}
/* EWANNN */
.bgOpacity {
    background-color: rgba(19, 19, 19, 0.2);
    padding: 20px;
    border-radius: 5px;
}
hr {
    border-color: #242424;
    box-shadow: 0px 2px 10px #1a1a1a;
}

/* MY OWN BUTTON */

.myBtn {
    display: block;
    margin: auto;
    padding: 10px 20px;
    background-image: url('../img/BTN.png');
    background-position: left top;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
}
.myBtn:hover {
    text-decoration: none;
    color: #D4DCEC;
}